DI/TAREAS UD 3/proyecto fecha y hora digital/FechaHoraDigital
DI/TAREAS UD 3/proyecto fecha y hora digital/FechaHoraDigital
/PSP/FraseDesmotivadora/nbproject/private/
/PSP/FraseDesmotivadora/build/
/PSP/FraseDesmotivadora_Buffer/nbproject/private/
/PSP/FraseDesmotivadora_Buffer/build/
/PSP/PSP_EjercicioPanderia/nbproject/private/
/PSP/NetbeansDiscord/target/
/PSP/PSP_EjercicioPanderia/build/
/PSP/657636_PSP_Tarea1PosibleSolucion/Tarea1Ejer1/nbproject/private/
/PSP/657636_PSP_Tarea1PosibleSolucion/Tarea1Ejer2/build/
/PSP/657636_PSP_Tarea1PosibleSolucion/Tarea1Ejer2/nbproject/private/
/PSP/PSP_EjercicioPanderia/dist/
/PSP/PSP_EjercicioPanaderia/nbproject/private/
/PSP/PSP_EjercicioPanaderia/build/
/PSP/PSP_EjercicioPanaderia/dist/
/PSP/PSP_Ejercicio_Taller_Pintura/nbproject/private/
/PSP/PSP_Ejercicio_Taller_Pintura/build/
/PSP/PSP_Ejercicio_Taller_Pintura/dist/
/DI/PosibleExamen2025/nbproject/private/
/DI/SliderVolAPG/nbproject/private/
/DI/SliderVolAPG/build/
/DI/SliderVolAPG/dist/
/DI/PruebaSliderVolAPG/nbproject/private/
/DI/PruebaSliderVolAPG/build/
/DI/Clinica_Veterinaria/nbproject/private/
/DI/Clinica_Veterinaria/build/
/PSP/PSP_EjercicioPollosHermanos/nbproject/private/
/PSP/PSP_EjercicioPollosHermanos/build/
/AD/Soluciones Tareas/Solucion_Tarea2_AD/sol_AD02_Ej02/dist/
/PSP/PSPEjercicioHeladeria/nbproject/private/
/PSP/PSPEjercicioHeladeria/build/
/PSP/EjercicioFloristeria/nbproject/private/
/PSP/PSP_EjercicioFloristeria/nbproject/private/
/PSP/PSP_EjercicioFloristeria/build/
/PSP/PSP_EjercicioOperacionesConcurrentes/nbproject/private/
/PSP/PSP_EjercicioOperacionesConcurrentes/build/
/PSP/PSP_EjercicioMaquinaEtiquetadora/nbproject/private/
/PSP/PSP_EjercicioMaquinaEtiquetadora/build/
/PSP/Prueba/nbproject/private/
/PSP/Prueba/build/
/No incluido en pen/ValidacionTextField/nbproject/private/
/No incluido en pen/ValidacionTextField/build/
/No incluido en pen/PSP_Taller_Bicicletas/nbproject/private/
/No incluido en pen/PSP_Taller_Bicicletas/build/
/DI/Tareas año pasado/TAREAS UD 3/proyecto de alarma calendario este año/PROYECTO DEL COMPONENTE/Romero_Abadia_Alejandro_DI03_Tarea/build/
/DI/Tareas año pasado/TAREAS UD 3/proyecto de alarma calendario este año/PROYECTO DEL COMPONENTE/Romero_Abadia_Alejandro_DI03_Tarea/dist/
/DI/Tareas año pasado/TAREAS UD 3/proyecto de alarma calendario este año/PROYECTO DEL COMPONENTE/Romero_Abadia_Alejandro_DI03_Tarea/nbproject/private/
/DI/Tareas año pasado/TAREAS UD 3/proyecto de alarma calendario este año/PROYECTO PARA PROBAR COMPONENTE/build/
/DI/Tareas año pasado/TAREAS UD 3/proyecto de alarma calendario este año/PROYECTO PARA PROBAR COMPONENTE/dist/
/DI/Tareas año pasado/TAREAS UD 3/proyecto de alarma calendario este año/PROYECTO PARA PROBAR COMPONENTE/nbproject/private/
/DI/Tareas año pasado/TAREAS UD 3/proyecto fecha y hora digital/ortiz_sobrino_elena_DI03_Tarea/build/
/DI/Tareas año pasado/TAREAS UD 3/proyecto fecha y hora digital/ortiz_sobrino_elena_DI03_Tarea/dist/
/DI/Tareas año pasado/TAREAS UD 3/proyecto fecha y hora digital/ortiz_sobrino_elena_DI03_Tarea/nbproject/private/
/DI/Tareas año pasado/TAREAS UD1/Tarea01llr/build/
/DI/Tareas año pasado/TAREAS UD1/Tarea01llr/dist/
/DI/Tareas año pasado/TAREAS UD1/Tarea01llr/nbproject/private/
/DI/Mis tareas/Tarea01APG/build/
/DI/Mis tareas/Tarea01APG/dist/
/DI/Mis tareas/Tarea01APG/nbproject/private/
/DI/Mis tareas/Tarea03APG/ProgressBarExtendedAPG/build/
/DI/Mis tareas/Tarea03APG/ProgressBarExtendedAPG/dist/
/DI/Mis tareas/Tarea03APG/ProgressBarExtendedAPG/nbproject/private/
/DI/Mis tareas/Tarea03APG/PruebaProgressBarExtended/build/
/DI/Mis tareas/Tarea03APG/PruebaProgressBarExtended/dist/
/DI/Mis tareas/Tarea03APG/PruebaProgressBarExtended/nbproject/private/
/DI/SliderVolVersion2/nbproject/private/
/DI/EjercicioSliderVolVerison2_DI/SliderVolVersion2/nbproject/private/
/DI/PruebaSliderVolVersion2/nbproject/private/
/DI/EjercicioSliderVolVerison2_DI/SliderVolVersion2/dist/
/DI/EjercicioSliderVolVerison2_DI/SliderVolVersion2/build/
/DI/EjercicioSliderVolVerison2_DI/PruebaSliderVolVersion2/build/
