DI/TAREAS UD 3/proyecto fecha y hora digital/FechaHoraDigital
DI/TAREAS UD 3/proyecto fecha y hora digital/FechaHoraDigital
/PSP/FraseDesmotivadora/nbproject/private/
/PSP/FraseDesmotivadora/build/
/PSP/FraseDesmotivadora_Buffer/nbproject/private/
/PSP/FraseDesmotivadora_Buffer/build/
/PSP/PSP_EjercicioPanderia/nbproject/private/
/PSP/NetbeansDiscord/target/
/PSP/PSP_EjercicioPanderia/build/
/PSP/657636_PSP_Tarea1PosibleSolucion/Tarea1Ejer1/nbproject/private/
/PSP/657636_PSP_Tarea1PosibleSolucion/Tarea1Ejer2/build/
/PSP/657636_PSP_Tarea1PosibleSolucion/Tarea1Ejer2/nbproject/private/
/PSP/PSP_EjercicioPanderia/dist/
/PSP/PSP_EjercicioPanaderia/nbproject/private/
/PSP/PSP_EjercicioPanaderia/build/
/PSP/PSP_EjercicioPanaderia/dist/
/PSP/PSP_Ejercicio_Taller_Pintura/nbproject/private/
/PSP/PSP_Ejercicio_Taller_Pintura/build/
/PSP/PSP_Ejercicio_Taller_Pintura/dist/
/DI/PosibleExamen2025/nbproject/private/
/DI/SliderVolAPG/nbproject/private/
/DI/SliderVolAPG/build/
/DI/SliderVolAPG/dist/
/DI/PruebaSliderVolAPG/nbproject/private/
/DI/PruebaSliderVolAPG/build/
/DI/Clinica_Veterinaria/nbproject/private/
/DI/Clinica_Veterinaria/build/
